body{
background-image: url(picky.jpg);
background-attachment: fixed;
background-position:center;
background-repeat: no-repeat;
background-size: cover;
    
}
 #clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#clock{
color: rgb(200, 206, 201);
font-size: 6em;
backdrop-filter: blur(2.7px);
font-family: helvetica Neue;


}
